<mat-toolbar class="navbar">
  <div class="navbar__left">
    @if (showMenuButton()) {
      <button
        mat-icon-button
        type="button"
        aria-label="Abrir navegacion"
        (click)="menuRequested.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    }

    <a class="navbar__brand" [routerLink]="brandRoute()">
      <span class="navbar__brand-title">{{ brandSubtitle() }}</span>
    </a>
  </div>

  <div class="navbar__actions">
    @if (sessionEmail()) {
      <span class="navbar__session">{{ sessionEmail() }}</span>
    }
    <a mat-button [routerLink]="homeRoute()">{{ homeLabel() }}</a>
    <button mat-flat-button type="button" (click)="logout()">
      Cerrar sesion
    </button>
  </div>
</mat-toolbar>
